@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
body {
    height: 150vh;
    background-image: url(https://media2.giphy.com/media/aRZ4vTsHnyW6A/giphy.webp?cid=ecf05e47y41nyrx5phbgk4id80mvycxrraqu0ehh2gvlwilj&rid=giphy.webp&ct=g);
}
nav {
    margin-top: 75px;
}

@media screen and (max-width: 400px) {
    .banner {
        color: #000000;
        border-radius: 50px;
        text-align: center;
        background-color: #ffffff96;
        font-size: 70px;
        position: relative;
        top: 80px;
        font-family: "Mate SC", serif;
    }
    #photos {
        margin-top: 15px;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    #photos img {
        /* Just in case there are inline attributes */
        width: 100% !important;
        height: auto !important;
    }
}

.page-link {
    margin-left: 4px;
}
#page-item a {
    padding: 7px 15px;
    background: #f18704;
    color: #ecdede;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

#page-item a:hover {
    background: #e6a14d;
    transform: scale(1.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.loader {
    color: rgb(166, 255, 0);
}
input[type="text"] {
    width: 400px;
    display: inline;

    border-radius: 33px;
}
button {
    background-color: rgb(39, 163, 163) !important;

    border-radius: 33px !important;
}
.m-2 {
    form {
        display: flex;
        justify-content: center;
        margin-top: 118px !important;
    }
}

@media (min-width: 420px) {
    #photos {
        margin: 123px 0px;
        background-color: #080808;
        box-shadow: rgb(100 100 111) 15px 40px 40px 0px;
        text-align: center;
        border-radius: 10px;
        position: relative;
        height: 254px;
        z-index: 1;
    }
    .container-wrapper {
        height: 100vh;
        width: 100vw;
        overflow-y: auto;
    }
    .bar-1 {
        height: 59px;
        width: 784px;
        background-color: red;
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 30px;
    }
    .bar-2 {
        height: 59px;
        width: 784px;
        background-color: rgb(0, 255, 170);
        position: absolute;
        z-index: -1;
        top: 59px;
        left: 60px;
    }
    .bar-3 {
        height: 59px;
        width: 784px;
        background-color: rgb(0, 195, 255);
        position: absolute;
        z-index: -1;
        top: 118px;
        left: 90px;
    }
    .bar {
        position: absolute;
        z-index: -1;
        top: 120px;
        transform: skewY(-12deg);
        opacity: 0.7;
    }
    img {
        height: 100%;
    }
}
